<h1>Shopping Cart</h1>
<div class="col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in yout cart.
    <button (click)="clearCart()" *ngIf="cart.items.length" class="btn btn-light btn-sm">clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px;">Quantity</th>
        <th class="text-right">Price</th>
        <th class="text-right">Sub Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
            <div class="thumbnail" [style.backgroundImage]="'url(' + item.imageUrl + ')' "></div>
        </td>
        <td>
            {{ item.title }}
        </td>
        <td>
            <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">
          {{ item.price | currency:'USD':'symbol' }}
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'USD':'symbol' }}
        </td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ cart.totalPrice | currency:'USD':'symbol' }}</th>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/check-out" *ngIf="cart.items.length" class="btn btn-primary btn-sm">Check-out</a>
</div>
